.App {
  margin: 24px;
}

.ant-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

footer {
  max-height: 5vh;
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 3000;
  background: white;
  text-align: right;
}

