.result-label {
    font-weight: bold;
    margin-right: 5px;
}

.title {
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.view-full-description {
    font-weight: bold;
    white-space: nowrap;
}

a.view-original {
    text-decoration: underline;
    padding: 20px 0;
    display: block;
}